:root {
    --main-bg-color: #89a194;
    --primary-color: #2e542e;
    --secondary-color: #1e3f1e;
    --text-color: #fff;
    --font-family: "Rubik", sans-serif;
}

body {
    font-family: var(--font-family);
    background-image: url('images/background1.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    margin: 0;
    padding: 20px;
    min-height: 100vh;

    padding-top: 70px; /* Відступ для контенту під фіксованою панеллю */
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

ul {
    list-style: none; /* Вимкнуто відображення маркерів */
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    font-weight: normal;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--secondary-color); /* Лінія під логотипом і навігацією */
    padding-bottom: 20px;

    position: fixed; /* Фіксоване позиціювання */
    top: 0; /* Прив'язує до верхньої частини вікна */
    left: 0;
    right: 0; /* Ширина на всю ширину */
    background-color: rgba(255, 255, 255, 0.9); /* Напівпрозорий фон */
    z-index: 1000; /* Високий z-index для покриття контенту */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тінь для покращення вигляду */
}

.header__logo {
    /* Додайте стилі для логотипа, якщо потрібно */
}

.header__list {
    display: flex;
    gap: 40px; /* Відстань між категоріями */
    margin-top: 20px;

}

.header__nav a {
    margin-top: 10px; /* Відступ для навігації */
    color: var(--secondary-color); 
    font-size: 15px; 
    transition: all 0.3s ease; 
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 35px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), inset 0 0 20px rgba(0, 0, 0, 0.2);
    font-weight: bold; 
    position: relative; /* Для псевдоелементів */

}

.header__nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--secondary-color);
    left: 0;
    bottom: -5px; /* Відступ від тексту */
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.header__nav a:hover {
    color: #fff; /* Зміна кольору тексту при наведенні */
    background-color: var(--secondary-color); /* Зміна фону при наведенні */
    transform: translateY(-3px); /* Підйом елемента вверх */
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(255, 255, 255, 0.2); /* Зміна тіні при наведенні */
}

.header__nav a:hover::after {
    transform: scaleX(1);
}

.btn {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-right: 35px;
    margin-top: 20px;
}

.btn:hover {
    background-color: #1e3f1e; /* Зміна кольору при наведенні */
    transform: scale(1.05); /* Невелике збільшення при наведенні */
}

/* Адаптивність */
@media (max-width: 768px) {
    .header__list {
        flex-direction: column; /* Зміна напрямку для маленьких екранів */
        gap: 20px; /* Зменшити відстань між елементами */
    }

    .header {
        padding: 10px; /* Зменшити відступи для менших екранів */
    }
}
